[submodule "main/simulator/b64"]
	path = simulator/b64
	url = https://github.com/littlstar/b64.c.git
[submodule "main/simulator/cJSON"]
	path = simulator/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "simulator/freertos-simulator"]
	path = simulator/freertos-simulator
	url = https://github.com/Maldus512/freertos-simulator.git
[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "simulator/lv_drivers"]
	path = simulator/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "components/generic_embedded_libs"]
	path = components/generic_embedded_libs
	url = https://github.com/Maldus512/generic_embedded_libs.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
